<div class="centered-container">
  <!-- Select Object Dropdown -->
  <div class="dropdown" *ngIf="objects$ | async as objects">
    <h4>Select Object:</h4>
    <select [(ngModel)]="selectedObject" (change)="updateFieldList()">
      <option *ngFor="let obj of objects" [value]="obj">{{ obj }}</option>
    </select>
  </div>

  <div *ngIf="(fieldList$ | async); else loadingData" class="scrollable-fields">
  <label *ngFor="let field of (fields$ | async)">
    <input
      type="checkbox"
      [checked]="selectedFields[field]"
      (change)="updateSelectedFields(field)"
    />
    {{ field }}
  </label>
</div>

<!-- <div *ngIf="(fieldList$ | async) as fields" class="dropdown">
  <h4>Select Fields:</h4>
  <div class="scrollable-fields">
    <label *ngFor="let field of fields" class="field-label">
      <input
        type="checkbox"
        [checked]="selectedFields[field]"
        (change)="updateSelectedFields(field)"
      />
      {{ field }}
    </label>
  </div>
</div> -->

<ng-template #loadingData>
  <!-- Handle the loading state, or you can omit this part if not needed -->
  <p>Loading fields...</p>
</ng-template>

  <hr />

  <!-- Display selected fields -->
  <div
    *ngIf="selectedObject && selectedFieldsArray.length >= 1"
    class="selected-fields-bar"
  >
    <h4>Selected Fields:</h4>
    <div class="selected-fields">
      <span *ngFor="let field of selectedFieldsArray" class="selected-field">
        {{ field }}
        <span class="remove-field" (click)="removeSelectedField(field)">x</span>
      </span>
    </div>
  </div>

  <hr />

  <!-- Get Data Button -->
  <button
    type="submit"
    class="get-data-button"
    (click)="executeQuery()"
    *ngIf="selectedFieldsArray.length >= 1"
  >
    Get Data
  </button>

  <hr />

  <!-- Query Result Component -->
  <div *ngIf="!isEditOpen && isQueryResVisible && (results$ | async)" class="query-result-container">
    <app-query-res
      [query_res]="results$ | async"
      [selectedFieldsArray]="selectedFieldsArray"
      [selectedObject]="selectedObject"
      (editStatusChange)="isEditOpen = $event"
    ></app-query-res>
  </div>

  <div *ngIf="isEditOpen">
    <app-edit (editStatusChange)="onIsEditOpenChange($event)"></app-edit>
  </div>
</div>
